<div class="containerMain">
    <Header>
        <div class="d-flex">
            <img src="../signup/healthConnect.svg" alt="siteLogo" />
            <h1>HealthConnect</h1>
        </div>
    </Header>
    <div class="mainBody">
        <main>
            <aside class="col-3 border-right">
                am sider
            </aside>
            <section class="col-9">
                am section
            </section>
        </main>
    </div>
    <footer>
        <div class="footerText">
            Copyright © 2023 HealthConnect, Inc. All Rights Reserved
        </div>
    </footer>

</div>