<div class="content-area" style="cursor: default; background-color: #fff">
  <div class="container-fluid">
    <div class="Main_box">
      <div class="main_txt">
        <h4>Good Afternoon {{userData.Name | titlecase}},</h4>
        <div class="time_box">
          <div style="
              color: #06152b;
              font-size: 18px;
              font-family: Montserrat-semibold;
              font-weight: 600;
            "></div>
          <span class="bolded">
            <clock style="  color: #06152b;
                              font-size: 18px;
                              font-family: 'Montserrat-semibold'; font-weight: 600; "></clock>
          </span>

          <div>
            <div class="welcomeSite mt-2">
              Welcome to our practice website Welcome to Summit Medical
              Practice, providing primary care for Newham and surrounding areas.
              We hope you take your time to browse our website where you will
              find lots of useful information about the surgery and the services
              we offer.
              <br />
              <br />
              Welcome to our practice website Welcome to Summit Medical
              Practice, providing primary care for Newham and surrounding areas.
              We hope you take your time to browse our website where you will
              find lots of useful information about the surgery and the services
              we offer.

              <br />
              <span class="welcomspan">
                Welcome to our practice website Welcome to Summit Medical
                Practice, providing primary care for Newham and surrounding
                areas. We hope you take your time to browse our website where
                you will find lots of useful information about the surgery and
                the services we offer.
              </span>
              <br />
            </div>
          </div>
        </div>
      </div>
      <!-- <div><img src="https://d28rlmk1ou6g18.cloudfront.net/content/common/gloableimage.svg" alt="" width="420">

            </div> -->
      <div class="appointmentBlock">
        <div class="bookAppointmentBtn">
          <button *ngIf="userData.Role=='user'" [routerLink]="'/hospitals'">☏Book appointment</button>
        </div>
        <div class="card-body px-0">
          <h5 class="card-title">Contact Details</h5>
          <p>
            <span class="contacth">Telephone: </span><br />Tel: 0208 552 2299
          </p>
          <p>
            <span class="contacth">Address: </span><br />
            Old East Ham Memorial Building<br />
            300 Shrewsbury Road<br />
            London, E78QR
          </p>
        </div>
        <div class="HealthTip">
          <div class="tipoftheday">👉Health Tip:</div>
          Slowly begin to eat 5 to 6 smaller meals during the day. Try to tune
          into your body to recognize when you might be hungry. But you may need
          to plan times to eat even if you aren't that hungry.
          <div class="ml-auto w-100 d-flex">
            <!-- <h6 class="d-flex ml-auto w-100 justify-content-end mb-0">-Doctor</h6> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>