<div class="content-area" style="cursor: default; background-color: #fff;">
    <div class="container-fluid">
        <div class="Main_box">
            <div class="main_txt">
                <h4>Good Afternoon Sumeet Sarma Sir , </h4>
                <div class="time_box">
                    <div style="color: #06152b; font-size: 18px; font-family: Montserrat-semibold; font-weight: 600;">
                    </div>
                    <span class="bolded">Fri, June 30 2023 - 12:48:20
                        PM</span>

                    <div>
                        <div class="main_txt">
                            <p>An investment in knowledge pays the best interest.</p>
                            <h6>-Benjamin Franklin</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div><img src="https://d28rlmk1ou6g18.cloudfront.net/content/common/gloableimage.svg" alt="" width="420">
            </div>
        </div>

    </div>
</div>