.hospitalBlock{
    background-image: url(../../../assets/images/HospBg.jpg);
    background-repeat: no-repeat;
    /* background-clip: content-box; */
    background-size: 50%;
    background-position: top right;
    background-color: darkslategrey;
    padding: 20px;
}
.availableDocInfo{
    background-color: var(--color-primary-100);
    padding: 20px;
    border-radius: 1em;
    margin-bottom: 20px;
}
.doctor-slots{
    display: flex;
    flex-wrap: wrap;
}
.hospital-info p{
    color: chartreuse;
    text-transform:uppercase;
    font-weight: 500;
}
.timeSlots button{
    background-color: var(--color-primary);
    color: white;
    border: 1px solid var(--color-primary-300);
    margin: 10px;
    border-radius: 3px;
    font-size: 14px;
    min-width: 235px;
    padding: 5px;
    cursor: pointer;
    font-weight: 500;
}

.timeSlots button:hover{
    background-color: var(--accent);
}
h3{
    color: var(--color-primary-300);
}
.detailed_viewPopup{
    max-width: 60%;
    background-color: var(--color-primary-100);
    border-radius: 16px;
    padding: 25px;
}
.detailed_viewPopup button{
    padding:5px 20px;
    margin-left: 15px;
    background-color: var(--color-primary-500);
    color: white;
    /* color: var(--color-black); */
    border: none;
    outline: transparent;
}
.detailed_viewPopup button:hover.yes_btn{
    opacity: 0.8;
}
.detailed_viewPopup button.cancel{
    /* background-color: var(--color-primary-100); */
    background-color: white;
    border: 1px solid var(--color-primary-500);
    color: var(--accent);
}
.detailed_viewPopup h4{
    color: var(--color-primary-500);
    
}
.detailedDetails{
    background-color:dimgray;
    color: white;
    margin: 20px auto 30px;
    border-radius: 0.3em;
    padding: 15px;
    max-width: 80%;
    text-align: left;
    
}
.detailedDetails div{
    margin-bottom: 10px;
}
.detailedDetails div span:nth-child(1){
    color: var(--color-primary-300);
    margin-right: 10px;
    font-weight: 300;
}
.detailedDetails div span:nth-child(2){
    color: cyan;
    font-weight: 500;
}
.docDetails div span:nth-child(1){
    color: gray;
    margin-right: 5px;
}
.docDetails div span:nth-child(2){
    color: peru;
}

.availableDocInfo h4{
    font-weight: 600;
    color: teal;
}