<main>
    <div class="content">
        <section class="main-header grid">
            <h2>Add Prescription</h2>
        </section>

        <div class="card">
            <table>
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Medicine Name</th>
                        <th>Dosage</th>
                        <th>Duration</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="number" placeholder="S.No" class="snoinput" /></td>
                        <td><input type="text" name="" id="" placeholder="Enter Medicine"></td>
                        <td>
                            <div class="">
                                <input type="checkbox" id="morning" name="morning" value="Bike">
                                <label for="morning" class="ml-1 mr-2"> Morning</label><br />
                                <input type="checkbox" id="afternoon" name="afternoon" value="Car">
                                <label for="afternoon" class="ml-1 mr-2"> Afternoon</label><br />
                                <input type="checkbox" id="night" name="night" value="Boat">
                                <label for="night" class="ml-1 mr-2"> Night</label><br />
                            </div>
                        </td>
                        <td><input type="text" name="" id="" placeholder="Enter Duration"></td>
                        <td><textarea name="" id="" cols="10" rows="2"></textarea></td>

                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="d-flex w-100 justify-content-end mt-3">

                <button class="button"><i class="fa-solid fa-plus"></i>Add</button>
                <button class="button ml-1">Save</button>
            </div>
        </div>
        <div class="card">
            <div class="d-flex prxHeader">
                <div class="d-flex flex-column">
                    <span>Dr. DurgaRamesh</span>
                    <span>M.B.B.S</span>
                    <span>Mob. No.9573591229</span>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <span>
                        <img src="assets/images/healthConnect.png" alt="">
                    </span>
                    <span>health Connect</span>
                </div>
                <div class="d-flex flex-column">
                    <span>Near --</span>
                    <span>mail:</span>
                    <span>Timings: 9 AM - 5 PM</span>
                </div>
            </div>
            <hr>
            <div class="my-3 d-flex justify-content-between">
                <div class="d-flex flex-column">
                    <span>Patient ID: 111 | Name: xyz| Gender: M /30 Yrs</span>
                    <span>Temp:55 | BP: 44</span>
                    <span></span>
                    <span>Adddress:</span>
                </div>
                <div> Date: 14th July 2023</div>
            </div>
            ℞
            <hr>
            <table>
                <thead>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Dosage</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1) Azithromycine</td>
                        <td>
                            <div class="">Morning
                            </div>
                        </td>
                        <td>10 Days</td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-1">Remarks: Consume it Day by Day and Avoid spicy and oily food.</div>
            <div class="mt-5">
                <div class="d-flex align-items-end flex-column">
                    <span>Dr. Durgaramesh</span>
                    <span>M.B.B.S</span>
                </div>
            </div>

        </div>
    </div>
</main>