<main data-aos="zoom-out" data-aos-duration="2500">
  <div class="content">
    <section *ngIf="mode == 'add' && userType == 'doctor'" class="main-header grid">
      <h2>Add Prescription</h2>
    </section>
    <form [formGroup]="pxFormGroup">
      <div class="card" *ngIf="mode == 'add' && userType == 'doctor'">
        <table>
          <thead>
            <tr>
              <th>S.No</th>
              <th>Medicine</th>
              <th>Dosage</th>
              <th>Duration</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <ng-container [formArrayName]="'pxFormArray'">
              <ng-container *ngFor="
                                        let each of pxFormGroup.get('pxFormArray')
                                          .controls;
                                        let i = index
                                      ">
                <tr [formGroupName]="i">
                  <td>{{i+1}}</td>
                  <td><input formControlName="medicine" type="text" name="" id="" placeholder=""></td>
                  <td>
                    <div class="">
                      <input formControlName="dosageMorning" type="checkbox" id="morning" name="dosageMorning"
                        value="morning">
                      <label class="ml-1 mr-2"> Morning</label><br />
                      <input formControlName="dosageNoon" type="checkbox" id="afternoon" name="dosageNoon"
                        value="afternoon">
                      <label class="ml-1 mr-2"> Afternoon</label><br />
                      <input formControlName="dosageNight" type="checkbox" id="night" name="dosageNight" value="night">
                      <label class="ml-1 mr-2"> Night</label><br />
                    </div>
                  </td>
                  <td><input formControlName="duration" type="text" name="" id="" placeholder=""></td>
                  <td><textarea formControlName="remarks" name="" id="" cols="10" rows="2"></textarea></td>

                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
        <hr>
        <div class="d-flex w-100 justify-content-end mt-3">

          <button (click)="addPrescription()" class="button"><i class="fa-solid fa-plus"></i>Add</button>
          <button (click)="postApi()" *ngIf="!addPxMode" class="button ml-1">Save</button>
          <button (click)="savePrescription(prescriptions.length - 1)" *ngIf="addPxMode" class="button ml-1"
            [ngClass]="[!pxFormGroup.get('pxFormArray').controls[pxFormGroup.get('pxFormArray').controls.length-1].valid ? 'disabled_button':'']">Confirm</button>
        </div>
      </div>
    </form>
    <section *ngIf="mode == 'view'" class="main-header grid">
      <h2>Prescription</h2>
      <button class='print-button button' styleSheetFile="../../assets/print.css" printSectionId="print-section"
        ngxPrint [useExistingCss]="true" printTitle="Health-Connect pX">Print <i class="fas fa-print"></i></button>
      <!-- <button class='print-button button'>Print <i class="fas fa-print"></i></button> -->
    </section>
    <div *ngIf="mode == 'view'" class="card" id="print-section">
      <div class="d-flex prxHeader">
        <div class="d-flex flex-column">
          <span>{{viewPrescriptionData.consultations[0].Doctor.Name}}</span>
          <span>{{viewPrescriptionData.consultations[0].Doctor.Qualification}}</span>
          <span>Phone-{{viewPrescriptionData.consultations[0].Doctor.Mobile}}</span>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
          <span>
            <img src="assets/images/healthConnect.png" alt="">
          </span>
          <span>Health Connect</span>
        </div>
        <div class="d-flex flex-column">
          <span>{{viewPrescriptionData.consultations[0].Hospital.HospitalName}}</span>
          <span>Phone-{{viewPrescriptionData.consultations[0].Hospital.Mobile}}</span>
          <span>{{viewPrescriptionData.consultations[0].Hospital.Address}}</span>
          <span>{{viewPrescriptionData.consultations[0].Hospital.Website}}</span>
        </div>
      </div>
      <hr>
      <div class="my-3 d-flex justify-content-between">
        <div class="d-flex flex-column">
          <span>Patient ID: {{viewPrescriptionData.consultations[0].User._id}} | Name:
            {{viewPrescriptionData.consultations[0].User.Name}} | Gender:
            {{viewPrescriptionData.consultations[0].User.Gender}}</span>
          <span>Date of Birth:{{viewPrescriptionData.consultations[0].User.DOB | date:'longDate'}}</span>
          <span></span>
          <span>Address: {{viewPrescriptionData.consultations[0].User.Address}}</span>
        </div>
        <!-- <div>Printed Date: {{today | date:'longDate'}}</div> -->
      </div>
      ℞
      <hr>
      <table>
        <thead>
          <tr>
            <th>Medicine Name</th>
            <th>Dosage</th>
            <th>Duration</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let drug of viewPrescriptionData.prescriptions[0].Drugs;let i =index">
            <td>{{i+1}}. {{drug.DrugName}}</td>
            <td>
              <div *ngIf="drug.Dosage.Morning" class="">Morning
              </div>
              <div *ngIf="drug.Dosage.Afternoon" class="">Afternoon
              </div>
              <div *ngIf="drug.Dosage.Night" class="">Night
              </div>
            </td>
            <td>{{drug.Days}}</td>
            <td class="mt-1">Remarks: {{drug.Comments}}</td>
          </tr>
        </tbody>
      </table>

      <div class="mt-5">
        <div class="d-flex align-items-end flex-column">
          <span>Consultation ID:{{viewPrescriptionData.prescriptions[0].ConsultationId}}</span>
          <span>&copy;&nbsp;Health Connect</span>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="mode == 'add' && userType == 'user'">
    <div class="alert alert-danger mt-5" role="alert">
      Prescription yet to be given!
    </div>
  </div>
</main>