<div class="container">
  <div class="forms">
    <div class="areuDoctor">
      <h3>Are you a Doctor?</h3>
      <button>Yes</button>
      <button>NO</button>
    </div>
    <div class="form-content">
      <!-- <div class="login-form">
          Login to
          <div class="title d-flex align-items-center">
            <span>
              <svg viewBox="257.083 171.1335 64.3191 64.2328" width="84.11285822819495" height="84"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                preserveAspectRatio="none">
                <g opacity="1" transform="rotate(0 257.083 171.1335)">
                  <svg width="64.3191" height="64.2328" x="257.083" y="171.1335" version="1.1"
                    preserveAspectRatio="none"
                    viewBox="19.8992862701416 19.999292373657227 160.201416015625 160.00140380859375">
                    <g transform="matrix(1 0 0 1 0 0)">
                      <g>
                        <path
                          d="M107 105.7c-.9 1.9-5.7 5.7-10.7 5.7-13.9 0-14.1 17.5-14.1 18.4l-.2 26.7c.1 9.9 8.2 17.9 18.1 17.8 9.8-.1 17.7-8 17.8-17.8l.1-38.2h5.7l-.1 38.2c-.1 13.1-10.8 23.6-23.8 23.5-12.9-.1-23.4-10.6-23.5-23.5l.2-26.8c0-9.3 4-24.3 19.6-24.1 3.4 0 8.2-3.7 8.6-5.2l2.3 5.3z"
                          data-color="1" class="icon1e5baab8b-0881-4eea-985d-7eec80d63196" fill="#9AEBA6"></path>
                        <path
                          d="M105.7 93c1.9.9 5.7 6.6 5.7 11.7 0 13.9 17.5 14.1 18.4 14.1l26.8.2c9.9-.1 17.9-8.2 17.8-18.1-.1-9.8-8-17.7-17.8-17.8l-38.2-.1v-5.7l38.2.1c13.1.1 23.6 10.8 23.5 23.8-.1 12.9-10.6 23.4-23.5 23.5l-26.8-.2c-9.3 0-24.3-4-24.1-19.6 0-3.4-3.7-9.1-5.2-9.6l-2.7-1 7.9-1.3z"
                          data-color="2" class="icon2e5baab8b-0881-4eea-985d-7eec80d63196" fill="#35C0ED"></path>
                        <path
                          d="M92.1 94.3c.9-1.9 6.6-5.7 11.7-5.7 13.9 0 14.1-17.5 14.1-18.4l.2-26.8c-.1-9.9-8.2-17.9-18.1-17.8-9.8.1-17.7 8-17.8 17.8L82 81.7h-5.7l.1-38.2c.1-13.1 10.8-23.6 23.8-23.5 12.9.1 23.4 10.6 23.5 23.5l-.2 26.8c0 9.3-4 24.3-19.6 24.1-3.4 0-9.1 3.7-9.6 5.2l-2.2-5.3z"
                          data-color="1" class="icon1e5baab8b-0881-4eea-985d-7eec80d63196" fill="#9AEBA6"></path>
                        <path
                          d="M92.1 105.9c-2.1-2.4-3.3-5.5-3.4-8.7 0-13.9-17.5-14.1-18.4-14.1l-26.8-.2c-9.9.1-17.9 8.2-17.8 18.1.1 9.8 8 17.7 17.8 17.8l34.6.1-1.4 5.7-33.3-.1c-13.1-.1-23.6-10.8-23.5-23.8.1-12.9 10.6-23.4 23.5-23.5l26.8.2c9.3 0 24.3 4 24.1 19.6 0 2.9 2.6 6.7 4.3 8.1.4.2-5.7 1.8-6.5.8z"
                          data-color="2" class="icon2e5baab8b-0881-4eea-985d-7eec80d63196" fill="#35C0ED"></path>
                      </g>
                    </g>
                  </svg>
                </g>
              </svg>
            </span>
            <span>HelathConnect</span>
          </div>
          <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" required>
              </div>
              <div class="text"><a href="#">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip"><a routerLink='/signup'>Sigup
                    now</a></label>
              </div>
            </div>
          </form>
        </div> -->
      <div class="signup-form">
        <div class="title">Signup</div>
        <form [formGroup]="signupFormBasic">
          <div class="input-boxes signUpCols">
            <div>
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input formControlName="name" type="text" placeholder="Enter your name">
              </div>
              <div class="input-box flex-column align-items-start">
                <div>
                  What is your gender?
                </div>
                <div class="d-flex mt-1">
                  <input formControlName="gender" type="radio" name="gender" value="male" class="mr-1"> Male
                  <input formControlName="gender" type="radio" name="gender" value="female" class="mx-1"> Female
                  <input formControlName="gender" type="radio" name="gender" value="other" class="mx-1"> Other
                </div>
              </div>
              <div class="input-box">
                <input formControlName="dob" type="date" value="2017-01-01" min="2005-01-01" max="2019-01-01"
                  class="calendar-input">
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input formControlName="email" type="email" placeholder="Enter your email">
              </div>

              <div class="input-box">
                <i class="fas fa-mobile"></i>
                <input formControlName="phone" type="number" placeholder="Enter your Mobile Number">
              </div>
              <div class="input-box">
                <i class="fas fa-address-card" aria-hidden="true"></i>
                <input formControlName="address" type="text" placeholder="Enter your Postcode">
              </div>
              <!-- <div class="input-box">
                <i class="fas fa-truck" aria-hidden="true"></i>
                <input formControlName="postcode" type="text" placeholder="Enter your Postcode" required>
              </div> -->
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input formControlName="password" type="password" placeholder="Enter your password">
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input formControlName="confirmPassword" type="password" placeholder="Confirm password">
              </div>
            </div>


          </div>

        </form>


      </div>
      <!-- Doctor form -->
      <div class="back">
        <!-- <img class="backImg" src="../../../assets/images/signup.png" alt=""> -->
        <div class="text">
          <h4 class="text-1 clickable" (click)="buildDoctorForm()">Are you a Doctor?</h4>
        </div>
        <form *ngIf="isDoctor" [formGroup]=" signupFormDoctor">
          <div class="input-box">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <input formControlName="qualification" type="text" placeholder="Enter your Qualification">
          </div>
          <div class="input-box">
            <i class="fa fa-history" aria-hidden="true"></i>
            <input formControlName="experience" type="number" placeholder="Experience in years">
          </div>
          <div class="input-box">
            <i class="fas fa-medkit"></i>
            <input formControlName="specialization" type="text" placeholder="Specialization">
          </div>

          <div class="input-box">
            <i class="fas fa-hospital" style="z-index:1;"></i>
            <select formControlName="hospital">
              <option value="">Select Hospital</option>
              <option *ngFor="let hospital of hospitals" [value]='hospital.HospitalId'>{{hospital.HospitalName}}
              </option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <!-- Buttons -->
    <div class="d-flex flex-column align-items-center form-content">
      <div class="input-box d-flex justify-content-center">
        <button [ngClass]="resolveDisability()?'':'disable-button'" [disabled]="!resolveDisability()" type="submit"
          (click)="signUp()" class="button submitBtn">Submit</button>
      </div>
      <div class="text sign-up-text">Already have an account? <label for="flip"><a routerLink="/sign-in">Login
            now</a></label>
      </div>
    </div>
  </div>
</div>