<Header>
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <div class="d-flex logoBlock"><img src="assets/images/healthConnect.png" alt="siteLogo" class="siteLogo" />
            </div>
            <h1>HealthConnect</h1>
        </div>
        <div class="d-flex">
            <div>
                <div class="d-flex flex-column">
                    <h5>Durgaramesh</h5>
                    <span>User</span>
                </div>

            </div><button class="bg-transparent p-0">(Logout)</button>
        </div>
    </div>
</Header>