<Header>
  <div class="d-flex justify-content-between">
    <div [routerLink]="'/dashboard'" style="cursor: pointer;" class="d-flex align-items-center">
      <div class="d-flex logoBlock"><img src="assets/images/healthConnect.png" alt="siteLogo" class="siteLogo" />
      </div>
      <h1>Health Connect</h1>
    </div>
    <div class="d-flex align-items-center">
      <div class="profileIcon">
        <img *ngIf="userData.Role=='doctor'" src="../../../assets/images/doctor.png" alt="" class="doctorImg">
        <i *ngIf="userData.Role=='user'" class="fa fa-user" aria-hidden="true"></i>

      </div>
      <div>
        <div class="d-flex flex-column">
          <div class="d-flex">
            <h5 class="mb-0">{{userData.Name | titlecase}}</h5><button
              class="bg-transparent p-0 logoutBtn d-flex self-align-start" (click)="logOut()">(Logout)</button>
          </div>
          <span class="userType">{{userData.Role}}</span>
        </div>

      </div>


    </div>
  </div>
</Header>