<Header>
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <div class="d-flex logoBlock"><img src="assets/images/healthConnect.png" alt="siteLogo" class="siteLogo" />
            </div>
            <h1>HealthConnect</h1>
        </div>
        <div class="d-flex align-items-center">
            <div class="profileIcon">
                <img src="../../../assets/images/doctor.png" alt="" class="doctorImg">
            </div>
            <div>
                <div class="d-flex flex-column">
                    <div class="d-flex">
                        <h5 class="mb-0">Durgaramesh</h5><button
                            class="bg-transparent p-0 logoutBtn d-flex self-align-start">(Logout)</button>
                    </div>
                    <span class="userType">Doctor</span>
                </div>

            </div>


        </div>
    </div>
</Header>