<main>
  <div *ngIf="showRadar" id="radar">
    <video [loop]="true" [muted]="true" [autoplay]="true" class="video-background">
      <source src="../../../assets/videos/radar-1.mp4">
    </video>
  </div>
  <div class="content">
    <section class="main-header grid">
      <h2>Hospitals List</h2>
      <!-- <button class="button">
                <i class="fa-solid fa-plus"></i>
                <span>Add new user</span>
            </button> -->
    </section>

    <section class="table-header grid">
      <div>
        <div class="select">
          <select (change)="filterChange()" [(ngModel)]="distanceFilter">
            <!-- <option>Choose action</option> -->
            <option *ngFor="let each of distanceFilterOptions" [value]="each.value">{{each.name}}</option>

          </select>
        </div>
      </div>
      <h5 *ngIf="distanceFilter != 'all'">Showing Hospitals within {{distanceFilter}} miles</h5>
      <div class="w-100">
        <input type="text" (keyup)="searchHospitals()" [(ngModel)]="hospitalSearch" placeholder="Search by Name">
        <i class="fa fa-search clickable" aria-hidden="true"></i>
      </div>
    </section>

    <div class="card">
      <table>
        <thead>
          <tr>
            <th>S.NO</th>
            <th>Hospital Name</th>
            <th>Location</th>
            <th>Distance from your place</th>
            <th>Site</th>
            <th>Phone</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let hospital of searchHospitalsList;let i = index">
            <td>{{i+1}}</td>
            <td>{{hospital.HospitalName}}</td>
            <td>{{hospital.Address}}</td>
            <td [title]="hospital.distanceFromUser+' miles'">{{getRoundedDistance(hospital.distanceFromUser)}} miles
            </td>
            <td>{{hospital.Website || 'No site info available'}}</td>
            <td>0{{(hospital.Mobile.toString().replace('20','20 '))}}</td>
            <td><button (click)="triggerSubmit(hospital)" class="button bookCbtn">Book consultation</button></td>

          </tr>

        </tbody>
      </table>
      <div class="alert alert-danger mt-5" role="alert" *ngIf="searchHospitalsList.length ==0">
        No Hospital Name Found!
      </div>
    </div>

    <!-- <section class="table-footer grid">
      <span>Displaying 1-10 of 100 items</span>
      <div class="paging grid">
        <span>
          Page
          <input type="number" value="1">
          of 10
        </span>
        <div class="button icon">
          <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="button icon">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </section> -->
    <!-- Pagination -->
    <app-updated-pagination [showBoundaryLinks]="true" [showDirectionLinks]="true" [totalItems]="totalCount"
      [page]="page" [pageSize]="pageSize" [tableSizes]="tableSizes" [maxSize]="5" [rotate]="true"
      (sendDatatoParent)="getPaginationData($event)"></app-updated-pagination>
  </div>
</main>




<div *ngIf="showSpinner">
  <app-spinner></app-spinner>
</div>
