<main>
  <div class="content">
    <div class="mb-3">
      <h2>Available Slots:</h2>
    </div>
    <div class="changeSlots">
      <div class="weekDays">
        <!-- Dynamic Days -->
        <div (click)="toggleDaySelection(day, i)" *ngFor="let day of daysArray; let i = index"
          [ngClass]="{'activeDay': selectedDay == i}">
          <div>
            <div *ngIf="i==0; else elseiftemp">
              <div> Today </div>
            </div>
            <ng-template #elseiftemp>
              <div *ngIf="i==1; else elseiftemp2">
                <div> Tomorrow </div>
              </div>
              <ng-template #elseiftemp2>
                <div>{{ day | date :'EEE'}}</div>
              </ng-template>
            </ng-template>
            <div class="ml-1">{{ day | date :'dd'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="timeSlotsBlock">
      <div class="timeSlots">
        <div [ngClass]="{'activeSlot':slot.isSelected,'bookedSlot':slot.isBooked}" (click)="toggleSlotSelection(slot)"
          *ngFor="let slot of slotsArray" [title]="slot.isBooked ? 'Slot already booked for consultation':''">
          {{slot.startKey}}-{{slot.endKey}}</div>

      </div>
    </div>
    <div class="d-flex justify-content-end">

      <button (click)="slotsPostApi()" class="button">Mark available slots</button>
    </div>

  </div>
</main>
<div *ngIf="showSpinner"><app-spinner></app-spinner></div>