<main>
    <div class="content">
        <section class="main-header grid">
            <h2>Hospitals List</h2>
        </section>
        <section class="table-header grid">
            <div>
                <div class="select"><select>
                        <option>Choose action</option>
                        <option>&lt;5km</option>
                        <option>&lt;10km</option>
                        <option>&lt;15km</option>
                        <option>&lt;20km</option>
                        <option>&gt;20km</option>
                    </select></div>
            </div>
            <div class="w-100"><input type="text" placeholder="Search by Name"><i aria-hidden="true"
                    class="fa fa-search"></i></div>
        </section>
        <div class="card">
            <table>
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Hospital Name</th>
                        <th>Location</th>
                        <th>Site</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!--bindings={
    "ng-reflect-ng-for-of": ""
  }-->
                </tbody>
            </table>
        </div>
        <div class="colors">
            <div class="color primary-100"></div>
            <div class="color primary-200"></div>
            <div class="color primary-300"></div>
            <div class="color primary"></div>
            <div class="color primary-500"></div>
            <div class="color white"></div>
            <div class="color neutral-100"></div>
            <div class="color neutral"></div>
            <div class="color black"></div>
        </div>
    </div>
</main>