<main>
  <div class="content">
    <div class="mb-3">
      <h2>Available Slots:</h2>
    </div>
    <div class="changeSlots">
      <div class="weekDays">
        <!-- Dynamic Days -->
        <div *ngFor="let day of daysArray; let i = index">
          <div (click)="toggleDaySelection(day, i)" [ngClass]="{'activeDay': selectedDay == i}">
            <div *ngIf="i==0; else elseiftemp">
              <div> Today </div>
            </div>
            <ng-template #elseiftemp>
              <div *ngIf="i==1; else elseiftemp2">
                <div> Tomorrow </div>
              </div>
              <ng-template #elseiftemp2>
                <div>{{ day | date :'EEE'}}</div>
              </ng-template>
            </ng-template>
            <div>{{ day | date :'dd'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="timeSlotsBlock">
      <div class="timeSlots">
        <div [ngClass]="[slot?.isSelected  ? 'activeSlot':'']" (click)="toggleSlotSelection(slot)"
          *ngFor="let slot of slotsArray">
          {{slot.startKey}}-{{slot.endKey}}</div>

      </div>
    </div>
    <button (click)="slotsPostApi()">Mark available slots</button>

  </div>
</main>