<div class="container w-100">
  <div class="w-100">


  </div>
  <div class="d-flex profileBlock flex-wrap pt-5 justify-content-center">
    <div class="d-flex flex-column commonDetails">
      <button routerLink="/edit-profile" class="editBtn d-flex ml-auto mb-1">Edit Profile<i
          class="far fa-edit"></i></button>
      <div class="d-flex align-items-center position-relative mx-auto flex-column profBlock">
        <div class="profileBlockImage">
          <img *ngIf="userData.Role == 'doctor'" src="../../../assets/images/doctor.png" alt="" class="doctorImg">
          <i *ngIf="userData.Role  == 'user'" class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="d-flex flex-column align-items-center">
          <span>
            <h3>{{userData.Name | titlecase}}</h3>
          </span>
          <span class="pt-0">{{userData.Specalization || 'User'}}</span>
        </div>
      </div>
      <div *ngIf="userData.Role == 'doctor'" class="d-flex flex-column doctorDetails w-100 p-3 doctorCard mb-3">
        <div class="d-flex">
          <span class="col-6">
            <div class="d-flex flex-wrap align-items-center">
              <span>Qualification:</span>
              {{userData.Qualification}}
            </div>
            <div class="d-flex flex-wrap align-items-center">
              <span>Hospital Name:</span>
              {{hospital[0]?.HospitalName}}
            </div>
            <div class="d-flex flex-wrap align-items-center">
              <span>Exp:</span>
              {{userData.Experience + ' years'}}
              <span class="ml-3">Specialization:</span>
              {{userData.Specalization}}
            </div>
          </span>
        </div>

      </div>
      <div class="mb-4 d-flex w-100 justify-content-center">
        <div class="d-flex flex-column col-6 pl-0">
          <span class="text-secondary">Gender:</span>
          <span class="d-flex align-items-center">
            <i class="fas fa-user fa-1 x mr-1"></i>
            {{userData.Gender}}
          </span>
        </div>
        <div class="d-flex flex-column col-3 pl-0">
          <span class="text-secondary">DOB:</span>
          <span class="d-flex align-items-center">
            <i class="fas fa-birthday-cake fa-1x mr-1"></i>
            {{userData.DOB | date}}
          </span>
        </div>
      </div>

      <div class="mb-4 d-flex w-100 justify-content-center">
        <div class="d-flex flex-column col-6 pl-0">
          <span class="text-secondary">Mail:</span>
          <span class="d-flex align-items-center">
            <i class="fas fa-envelope fa-1 x mr-1"></i>
            {{userData.Email}}
          </span>
        </div>
        <div class="d-flex flex-column col-3 pl-0">
          <span class="text-secondary">Ph No:</span>
          <span class="d-flex align-items-center">
            <i class="fas fa-phone fa-1x mr-1"></i>
            {{userData.Mobile}}
          </span>
        </div>
      </div>
      <div class="mb-4 d-flex w-100 justify-content-center">


        <div class="d-flex flex-column col-6 pl-0">
          <span class="text-secondary">Address:</span>
          <span class="d-flex align-items-center">
            <i class="fas fa-address-card fa-1 x mr-1"></i>
            {{userData.Address}}
          </span>
        </div>
        <div class="d-flex flex-column col-3 pl-0">
          <!-- <span class="text-secondary">Address:</span> -->
          <span class="d-flex align-items-center">
            <!-- <i class="fas fa-address-card fa-1 x mr-1"></i> -->
            <!-- {{userData.Address}} -->
          </span>
        </div>

        <!-- <div class="d-flex flex-column col-3 pl-0">
          <span class="text-secondary">Postcode:</span>
          <span class="d-flex align-items-center">
            <i class="fas fa-truck fa-1x mr-1"></i>
            {{userData.Postcode}}
          </span>
        </div> -->


      </div>

      <span>


      </span>
      <!-- <span><span>password:</span>
        Ramesh###

      </span> -->
    </div>

  </div>
</div>