<div class="container w-100">
  <div class="w-100">
    <div class="d-flex align-items-center position-absolute">
      <div class="profileBlockImage">
        <img src="../../../assets/images/doctor.png" alt="" class="doctorImg">
      </div>
      <div class="d-flex flex-column">
        <span>
          <h3>{{userData.Name | titlecase}}</h3>
        </span>
        <span>{{userData.Specalization || 'User'}}</span>
      </div>
    </div>
    <button routerLink="/edit-profile" class="editBtn d-flex ml-auto">Edit<i class="far fa-edit"></i></button>
  </div>
  <div class="d-flex profileBlock flex-wrap pt-5">
    <div class="d-flex flex-column commonDetails mr-5">

      <span> <span>
          Gender:
        </span>
        {{userData.Gender}}
      </span>
      <span>
        <span>DOB:</span>
        {{userData.DOB | date}}
      </span>
      <span>
        <span>Mail:</span>
        {{userData.Email}}
      </span>
      <span><span>Ph No:</span>
        {{userData.Mobile}}

      </span>
      <span><span>Address:</span>
        {{userData.Address}}

      </span>
      <span><span>Postcode:</span>
        {{userData.Postcode}}

      </span>
      <!-- <span><span>password:</span>
        Ramesh###

      </span> -->
    </div>
    <div *ngIf="userData.Role == 'doctor'" class="d-flex flex-column doctorDetails">
      <span> <span>Qualification</span>
        {{userData.Qualification}}
      </span>
      <span> <span>Hospital Name:</span>
        {{hospital[0]?.HospitalName}}
      </span>
      <span> <span>Exp:</span>
        {{userData.Experience + ' years'}}
      </span>
      <span>
        <span>Specialization:</span>
        {{userData.Specalization}}
      </span>
    </div>
  </div>
</div>