@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font: normal 16px/1.5 sans-serif;
}
body {
  background: var(--color-neutral-100);
  color: var(--color-black);
  font-family: var(--text-font-family);
}
h2 {
  color: var(--color-primary);
  /* font-family: var(--title-font-family); */
  font-size: 2rem;
  /* font-weight: var(--title-font-weight); */
  margin: 0;
}
a {
  color: var(--color-primary);
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: var(--color-primary-500);
}
/*
  main
*/

main {
  align-items: center;
  /* display: grid; */
  min-height: 100vh;
  padding: 2.5rem;
  width: 100%;
}

main .content {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.main-header {
  margin: 0 0 2.5rem;
}
.main-header.grid {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

/*
  buttons
*/

.button {
  background: var(--color-primary);
  border: 0;
  border-radius: 0.25rem;
  color: var(--color-white);
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  height: 3rem;
  line-height: 3rem;
  padding: 0 2rem;

  /* grid */
  align-items: center;
  display: grid;
  gap: 0.75rem;
  grid-auto-flow: column;
}
.button:hover {
  background: var(--color-primary-500);
}
.button i {
  font-size: 1.25rem;
}

.button.icon {
  border-radius: 50%;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  width: 3rem;
}
table .button {
  background: var(--color-primary);
  border: 0;
  border-radius: 0.25rem;
  color: var(--color-white);
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1.2em;
}
table .button i {
  font-size: 14px;
}
.button.link {
  background: none;
  color: var(--color-primary);
  justify-content: start;
  padding: 0;
}
.button.link:hover {
  color: var(--color-primary-500);
}
.button.link i {
  font-size: inherit;
}

/*
  cards
*/

.card {
  border: 1px solid var(--color-neutral);
  border-radius: 0.25rem;
  background: var(--color-white);
  margin: 0 0 2.5rem;
  overflow: auto;
  padding: 1.5rem 1.5rem 2.5rem;
  width: 100%;
  overflow-x: auto;
}

/*
  inputs
*/

.checkbox {
  background: var(--color-white);
  border: 1px solid var(--color-neutral);
  border-radius: 0.25rem;
  cursor: pointer;
  height: 1.5rem;
  position: relative;
  width: 1.5rem;
}

.checkbox input[type="checkbox"] {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: relative;
  width: 0;
}

.checkbox .checkmark::after {
  background: var(--color-primary);
  border: 0;
  border-radius: 0.25rem;
  color: var(--color-white);
  content: "\f00c";
  display: block;
  font-family: "Font Awesome 6 Free";
  font-size: 0.75rem;
  font-weight: 900;
  height: 1.5rem;
  width: 1.5rem;

  /* grid */
  display: grid;
  align-items: center;
  justify-content: center;

  /* position */
  position: absolute;
  left: -1px;
  top: -1px;
}
.checkbox .checkmark.minus::after {
  content: "\f068";
}
.checkbox .checkmark {
  display: none;
}
.checkbox input[type="checkbox"]:checked ~ .checkmark {
  display: block;
}

.select {
  background: var(--color-white);
  border: 1px solid var(--color-neutral);
  border-radius: 0.25rem;
  color: var(--color-black);
  display: inline-block;
  font: inherit;
  height: 3rem;
  margin: 0 1rem 0 5px;
  padding: 0 1rem;
  position: relative;
  width: 12rem;
}

.select::after {
  content: "\f107";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

select {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: inherit;
  font: inherit;
  height: 3rem;
  margin: 0;
  padding: 0 1rem 0 5px;
  width: 100%;
}
:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
input[type="number"],
input[type="text"] {
  background: var(--color-white);
  border: 1px solid var(--color-neutral);
  border-radius: 0.25rem;
  color: var(--color-black);
  display: inline-block;
  font: inherit;
  height: 3rem;
  margin: 0 0.5rem;
  padding: 0 1rem;
  width: 12rem;
}

/*
  colors
*/

.colors {
  display: grid;
  justify-content: start;
  gap: 1.5rem;
  grid-auto-flow: column;
  margin: 2.5rem 0;
}

.color {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}
.color.black {
  background: var(--color-black);
}
.color.neutral-100 {
  background: var(--color-neutral-100);
  border: 1px solid var(--color-neutral);
}
.color.neutral {
  background: var(--color-neutral);
}
.color.primary-100 {
  background: var(--color-primary-100);
  border: 1px solid var(--color-primary-300);
}
.color.primary-200 {
  background: var(--color-primary-200);
  border: 1px solid var(--color-primary-300);
}
.color.primary-300 {
  background: var(--color-primary-300);
}
.color.primary {
  background: var(--color-primary);
}
.color.primary-500 {
  background: var(--color-primary-500);
}
.color.white {
  background: var(--color-white);
  border: 1px solid var(--color-neutral);
}

/*
  paging
*/

.paging.grid {
  align-items: center;
  display: grid;
  gap: 0.75rem;
  grid-auto-flow: column;
}

.paging span {
  margin: 0 0.75rem;
}

/*
  table
*/

table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border-bottom: 1px solid var(--color-primary-300);
  font-size: 1rem;
  text-align: left;
  white-space: nowrap;
}
th {
  padding: 1.5rem 1rem;
}
td {
  padding: 1rem;
}

tbody tr {
  cursor: pointer;
}
tbody tr.selected td {
  background: var(--color-primary-200);
}
tbody tr:hover:not(.selected) td,
tbody tr.hover:not(.selected) td {
  background: var(--color-primary-100);
}

.table-footer,
.table-header {
  font-size: 0.875rem;
}
.table-footer {
  margin: -1.5rem 0 0;
}
.table-header {
  margin: 0 0 1rem;
}

.table-footer.grid,
.table-header.grid {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

/* change slots */
.changeSlots {
  width: 100%;
  display: flex;
  background-color: var(--color-primary-200);
  border-radius: 0.3em 0.3em 0 0;
}
.changeSlots .weekDays {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  background-color: currentColor;
}
.activeDay {
  font-size: 22px;
  border: 2px solid var(--color-black);
  border-radius: 0.2em;
  background-color: aliceblue;
  color: var(--color-primary-500) !important;
}
.changeSlots .weekDays > div {
  height: 50px;
  width: 100px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--color-primary-300);
}
.changeSlots .weekDays > div:hover {
  transform: translateY(-5%);
  transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: var(--color-primary-100);
  color: var(--color-primary-500);
}
.timeSlotsBlock {
  border: 1px solid var(--color-neutral);
  padding: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.timeSlotsBlock .timeSlots {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  justify-content: center;
}
.timeSlotsBlock .timeSlots div {
  width: 100px;
  height: auto;
  padding: 10px;
  border: 1px solid var(--color-primary-300);
  margin-right: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: center;
}
.timeSlotsBlock .timeSlots .activeSlot {
  background-color: var(--color-primary-500);
  color: #fff;
}

.upcoming {
  color: #c2bd1f;
}
.completed {
  color: rgb(175, 11, 11);
}
.active {
  color: rgb(10, 108, 10);
}
