<main data-aos="zoom-in" data-aos-duration="2500">
  <div class="content">
    <section class="main-header grid">
      <h2>Consultations</h2>
      <!-- <button class="button">
                  <i class="fa-solid fa-plus"></i>
                  <span>Add new user</span>
              </button> -->
    </section>

    <section class="table-header grid">
      <div>
        <div class="select">
          <select (change)="filterData()" [(ngModel)]="statusFilter">
            <option *ngFor="let option of statusOptions" [value]="option.key">{{option.name}}</option>
          </select>
        </div>
      </div>

      <!-- <div class="w-100">
                <input type="text" (keyup)="searchHospitals()" [(ngModel)]="hospitalSearch"
                    placeholder="Search by Name">
                <i class="fa fa-search clickable" aria-hidden="true"></i>
            </div> -->
    </section>

    <div class="card">
      <table>
        <thead>
          <tr>
            <th>S.NO</th>
            <th>{{userType == 'doctor'?'Patient':'Doctor'}}</th>
            <th>Hospital</th>
            <th>Date and time</th>
            <!-- <th>Phone</th> -->
            <th>Status</th>
            <th>Prescription</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let each of filteredConsultations;let i = index">
            <td>{{i+1}}</td>
            <td>{{userType == 'doctor'? each.User.Name : each.Doctor.Name}}</td>
            <td>{{each.Hospital.HospitalName}}</td>
            <td>{{each.BookedSlot.StartTime | date:'MMM d, y, h:mm a'}} - {{each.BookedSlot.EndTime
              |date:'shortTime'}}</td>
            <td [class]="each.status">
              <div class="d-flex flex-column text-center">
                <span>{{each.status | titlecase}}</span>
                <span *ngIf="each.status.toLowerCase() == 'active'" (click)="goToChat(each)" class="text-success"><img
                    src="../../../assets/images/doctor-user-chat.svg" class="doctor-user-chat">Join chat</span>
              </div>
            </td>
            <td>
              <div *ngIf="true" class="d-flex">
                <button (click)="goToPrescriptions('view',each)" class="button border-0 mr-1"><i
                    class="fa fa-arrow-right" aria-hidden="true"></i> View</button>
              </div>
              <!-- <div *ngIf="each.Prescription == '-1'">
                <button *ngIf="userType == 'doctor'" (click)="goToPrescriptions('add',each)" class="button"><i
                    class="fa fa-plus" aria-hidden="true"></i>
                  Add</button>
                <span *ngIf="userType == 'user'" class="text-danger">NA</span>
              </div> -->

            </td>

          </tr>
        </tbody>
      </table>
      <div class="alert alert-danger mt-5" role="alert" *ngIf="filteredConsultations.length <= 0">
        No Consultations Data Found!
      </div>
    </div>

    <!-- <section class="table-footer grid">
        <span>Displaying 1-10 of 100 items</span>
        <div class="paging grid">
          <span>
            Page
            <input type="number" value="1">
            of 10
          </span>
          <div class="button icon">
            <i class="fa-solid fa-angle-left"></i>
          </div>
          <div class="button icon">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </div>
      </section> -->
    <!-- Pagination -->
    <app-updated-pagination [showBoundaryLinks]="true" [showDirectionLinks]="true" [totalItems]="totalCount"
      [page]="page" [pageSize]="pageSize" [tableSizes]="tableSizes" [maxSize]="5" [rotate]="true"
      (sendDatatoParent)="getPaginationData($event)"></app-updated-pagination>

    <!-- <div class="colors">
      <div class="color primary-100"></div>
      <div class="color primary-200"></div>
      <div class="color primary-300"></div>
      <div class="color primary"></div>
      <div class="color primary-500"></div>
      <div class="color white"></div>
      <div class="color neutral-100"></div>
      <div class="color neutral"></div>
      <div class="color black"></div>
    </div> -->
  </div>
</main>

<div *ngIf="showSpinner">
  <app-spinner></app-spinner>
</div>
