/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --text: #020302;
  --background: #f2f8f3;
  --primary-button: #7bb785;
  --secondary-button: #ffffff;
  /* --accent: #6bae76; */
  --accent: #9dc08b;
  --blue: darkblue;
  --accent: #327969;
}

:root {
  --color-black: #41423d;
  --color-neutral-100: #f5f4f0;
  --color-neutral: #dfddd0;
  --color-primary-100: #f0f7f5;
  --color-primary-200: #e0eeeb;
  --color-primary-300: #cfe5e0;
  --color-primary: #3f9783;
  --color-primary-500: #327969;
  --color-white: #fbfcfa;
  --text-font-family: "Inter", sans-serif;
  --title-font-family: "Lora", serif;
  --title-font-weight: 500;
}
a {
  color: #2d6187;
}

.disable-button {
  opacity: 0.5;
  cursor: not-allowed !important;
}
.clickable{
  cursor: pointer;
}
.pagination .card-footer {
  padding: 0;
  background-color: none;
  border-top: 0px solid rgba(0,0,0,.125);
}
.pagination-dropdown{
  max-width: 100px;
  padding-inline: 10px;
  transition: all 0.3s ease;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17.362" height="9.85" viewBox="0 0 17.362 9.85"><path data-name="Form 1" d="m1585.593 93.838 6.564-6.517a1.247 1.247 0 0 1 1.754 0 1.225 1.225 0 0 1 0 1.741l-7.441 7.388a1.247 1.247 0 0 1-1.754 0l-7.441-7.388a1.225 1.225 0 0 1 0-1.741 1.247 1.247 0 0 1 1.754 0z" transform="translate(-1576.911 -86.961)" style="fill:%239DC08B"/></svg>');
    background-size: 10px 10px;

    background-repeat: no-repeat;
    background-position: 95% center;
}