/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
:root {
  --text: #020302;
  --background: #f2f8f3;
  --primary-button: #7bb785;
  --secondary-button: #ffffff;
  /* --accent: #6bae76; */
  --accent: #9dc08b;
  --blue: darkblue;
  --accent: #327969;
}

:root {
  --color-black: #41423d;
  --color-neutral-100: #f5f4f0;
  --color-neutral: #dfddd0;
  --color-primary-100: #f0f7f5;
  --color-primary-200: #e0eeeb;
  --color-primary-300: #cfe5e0;
  --color-primary: #3f9783;
  --color-primary-500: #327969;
  --color-white: #fbfcfa;
  --text-font-family: "Inter", sans-serif;
  --title-font-family: "Lora", serif;
  --title-font-weight: 500;
}
a {
  color: #2d6187;
}

.disable-button {
  opacity: 0.5;
  cursor: not-allowed !important;
}
.clickable {
  cursor: pointer;
}
.pagination .card-footer {
  padding: 0;
  background-color: none;
  border-top: 0px solid rgba(0, 0, 0, 0.125);
}
.pagination-dropdown {
  max-width: 80px;
  padding-inline: 10px;
  transition: all 0.3s ease;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17.362" height="9.85" viewBox="0 0 17.362 9.85"><path data-name="Form 1" d="m1585.593 93.838 6.564-6.517a1.247 1.247 0 0 1 1.754 0 1.225 1.225 0 0 1 0 1.741l-7.441 7.388a1.247 1.247 0 0 1-1.754 0l-7.441-7.388a1.225 1.225 0 0 1 0-1.741 1.247 1.247 0 0 1 1.754 0z" transform="translate(-1576.911 -86.961)" style="fill:%239DC08B"/></svg>');
  background-size: 10px 10px;

  background-repeat: no-repeat;
  background-position: 95% center;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
}
.page-item.active .page-link{
  background: var(--accent) !important;
  border-color: var(--bs-dark) !important;
}
h3 {
  color: var(--color-primary);
  font-size: 2rem;
  margin: 0;
}


.button {
  background: var(--color-primary);
  border: 0;
  border-radius: 0.25rem;
  color: var(--color-white);
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  height: 3rem;
  line-height: 3rem;
  padding: 0 2rem !important;

  /* grid */
  align-items: center;
  display: grid;
  gap: 0.75rem;
  grid-auto-flow: column;
}
.button:hover {
  background: var(--color-primary-500);
}
.button i {
  font-size: 1.25rem;
}

.button.icon {
  border-radius: 50%;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  width: 3rem;
}

.button.link {
  background: none;
  color: var(--color-primary);
  justify-content: start;
  padding: 0;
}
.button.link:hover {
  color: var(--color-primary-500);
}
.button.link i {
  font-size: inherit;
}
:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@media(max-width:1440px){
  table .button{
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem !important;
  }
}